{% extends "AndroidDevAdminBundle::layout.html.twig" %}

{% block title %}Accueil - Nouvelle catégorie - Android-dev{% endblock %}
{% block description %}{% endblock %}

{% block contentDetail %}
<div class="col-md-12"><h1>Création de catégorie</h1>

    <form action="{{ path('admin_categorie_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
            <p>
                <button type="submit">Créer</button>
            </p>
        </form>

        <ul class="record_actions">
            <li>
                <a href="{{ path('admin_categorie') }}">
                    Retour à la liste
                </a>
            </li>
        </ul>

    </div>

{% endblock %}