{% extends "AndroidDevSiteBundle::masterSiteLayout.html.twig" %}

{% block title %}Android-dev{% endblock %}
{% block description %}{% endblock %}

{% block menuGauche %}       
<div class="span2 visible-desktop">
    <div class="bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav affix">
            <li><a href="#overview"><i class="icon-chevron-right"></i> Overview</a></li>
            <li class="active"><a href="#transitions"><i class="icon-chevron-right"></i> Transitions</a></li>
            <li class=""><a href="#modals"><i class="icon-chevron-right"></i> Modal</a></li>
            <li><a href="#dropdowns"><i class="icon-chevron-right"></i> Dropdown</a></li>
            <li><a href="#scrollspy"><i class="icon-chevron-right"></i> Scrollspy</a></li>
            <li><a href="#tabs"><i class="icon-chevron-right"></i> Tab</a></li>
            <li><a href="#tooltips"><i class="icon-chevron-right"></i> Tooltip</a></li>
            <li><a href="#popovers"><i class="icon-chevron-right"></i> Popover</a></li>
            <li><a href="#alerts"><i class="icon-chevron-right"></i> Alert</a></li>
            <li><a href="#buttons"><i class="icon-chevron-right"></i> Button</a></li>
            <li><a href="#collapse"><i class="icon-chevron-right"></i> Collapse</a></li>
            <li><a href="#carousel"><i class="icon-chevron-right"></i> Carousel</a></li>
            <li><a href="#typeahead"><i class="icon-chevron-right"></i> Typeahead</a></li>
            <li class=""><a href="#affix"><i class="icon-chevron-right"></i> Affix</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block enteteContentPC %}

{% endblock %}

{% block contentPC %}

{% endblock %}

{% block enteteContentMobileTablet %}

{% endblock %}

{% block contentMobileTablet %}

{% endblock %}