{% extends "AndroidDevSiteBundle::masterSiteLayout.html.twig" %}

{% block title %}Android-dev{% endblock %}
{% block description %}{% endblock %}
{% block urlCanonical %}{% endblock %}

{% block menuGauche %}       
<div class="span2 visible-desktop">
    <div class="bs-docs-sidebar">
        <ul id="sommaire" class="nav nav-list bs-docs-sidenav affix">
        </ul>
    </div>
</div>
{% endblock %}

{% block enteteContentPC %}

{% endblock %}

{% block contentPC %}

{% endblock %}

{% block enteteContentMobileTablet %}

{% endblock %}

{% block contentMobileTablet %}

{% endblock %}

{% block script %}{% endblock %}