{% extends "AndroidDevSiteBundle::layout.html.twig" %}

{% block title %}A propos | Android-dev.fr{% endblock %}
{% block description %}A propos d'android-dev.fr{% endblock %}

{% block enteteContentPC %}
<ul class="breadcrumb">
    <li><a title="android-dev.fr" href="{{ path('androiddev_accueil') }}">Accueil</a></li>
    <li class="active">A propos</li>
</ul>
<div class="jumbotron">
    <h1>A propos d'<span class="logo">android-dev.fr</span></h1>
</div>
{% endblock %}

{% block contentPC %}
<p>Je travaille en tant que développeur PHP depuis 2012 après plusieurs années d'alternances.</p>
<p>Le site Android-dev.fr me permet de mettre en pratique mes connaissances tout en essayant des nouvelles technologies liés au Web. Mais ce site me permet aussi de découvrir le développement pour le monde Android.</p>

<p>N’hésitez pas à participer ici à votre manière simplement en lisant, en commentant ou même en proposant vos articles ou astuces. Android-dev.fr est avant tout un espace de partage !</p>
<p>Plus de détail : <a title="viadeo" target="_blank" href="http://www.viadeo.com/fr/profile/fabien.chometton"><img class="logoApropos" width="40px" src="/img/viadeo.jpeg" /></a><a title="linkedin" target="_blank" href="http://fr.linkedin.com/pub/fabien-chometton/41/6b4/985"><img class="logoApropos linkedin" width="40px" src="/img/linkedin.png" /></a></p>
{% endblock %}