{% extends "AndroidDevSiteBundle::layout.html.twig" %}

{% block title %}Contact | Android-dev.fr{% endblock %}
{% block description %}Contacter android-dev.fr{% endblock %}

{% block enteteContentPC %}
<ul class="breadcrumb">
    <li><a href="{{ path('androiddev_accueil') }}">Accueil</a></li>
    <li class="active">Contact</li>
</ul>
<div class="jumbotron">
    <h1>Contacter <span class="logo">android-dev.fr</span></h1>
</div>
{% endblock %}

{% block contentPC %}

<h2>Mail envoyer avec succès</h2>
{% endblock %}