{% extends "AndroidDevSiteBundle::layout.html.twig" %}

{% block title %}Mentions légales | Android-dev.fr{% endblock %}
{% block description %}Mentions légales android-dev.fr{% endblock %}

{% block enteteContentPC %}
<ul class="breadcrumb">
    <li><a href="{{ path('androiddev_accueil') }}">Accueil</a></li>
    <li class="active">Mentions légales</li>
</ul>
<div class="jumbotron">
    <h1>Mentions légales d'<span class="logo">android-dev.fr</span></h1>
</div>
{% endblock %}

{% block contentPC %}
<h2>Éditeur et Responsable de la publication</h2>

<p>Fabien CHOMETTON (<a href="{{ path('androiddev_contact') }}">Contact</a>)</p>
<p>Les propos tenus sur ce site ne représentent que et uniquement l’opinion de leur auteur, et n’engagent pas les sociétés, entreprises ou collectifs auxquels il contribue ou dont il peut être associé ou employé.</p>
<h2>Hébergement</h2>

<p>Ce blog est hébergé par OVH, 140 Quai du Sartel, 59100 Roubaix, France.
    Cet hébergeur possède à ce jour les éléments d’identification personnelle me concernant.</p>
<h2>Données personnelles</h2>

<p>Les données personnelles collectées par Blog Tool Box sont uniquement destinées à un usage interne. En aucun cas ces données ne seront cédées ou vendues à des tiers. Seuls les commentaires enregistrés sur ce blog donnent lieu à un enregistrement des informations de connexion (adresse IP, pseudonyme et éventuellement adresse e-mail et site web).
Conformément à l’article 39 de la loi du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, vous avez un droit d’accès, de modification et d’opposition sur vos données personnelles enregistrées par le blog.
Dans ce cas, utilisez le formulaire de contact.</p>
<h2>Conditions de modération des commentaires du blog</h2>

<p>Les commentaires et trackbacks/pingback de Blog Tool Box sont modéré a posteriori. Le non respect de l’une des règles suivantes entraîne la suppression du commentaire ou du trackback/pingback concerné :</p>
<ul>
    <li>Commentaires diffamatoires, racistes, pornographiques, pédophiles, incitant à délit, crimes ou suicides,</li>
    <li>Commentaires reproduisant une correspondance privée sans l’accord des personnes concernées,</li>
    <li>Commentaires agressifs ou vulgaires,</li>
    <li>Commentaires visant uniquement à mettre en ligne un lien vers un site extérieur (spam de commentaires ou de trackback/pingback).</li>
</ul>
<p>Les commentaires sont modérés a priori. Ne postez pas plusieurs fois votre commentaire si vous ne le voyez pas apparaître. Merci.</p>

<h2>Licences, droits de reproduction</h2>

<p>Tous droits réservés. La reproduction du contenu de ce blog, en tout ou en partie, est interdite sans la permission écrite de l’auteur (sauf mention particulière). Tout autre matériel contenu sur ce site ne nous appartenant pas : photos, textes, images, logos, noms de produits ou marques citées… est la propriété de leurs détenteurs respectifs.</p>


{% endblock %}