SetEnv SHORT_OPEN_TAGS 0
SetEnv REGISTER_GLOBALS 0
SetEnv MAGIC_QUOTES 0
SetEnv SESSION_AUTOSTART 0
SetEnv ZEND_OPTIMIZER 1
SetEnv PHP_VER 5_3 
AddType x-mapp-php5 .php

RewriteEngine On
RewriteBase /

ErrorDocument 404 http://android-dev.fr

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ app.php [QSA]

RewriteRule ^web/blog/voir/([0-9]+)$ http://www.android-dev.fr/detail.php?billet=$1 [L,R=301]


RedirectMatch permanent ^/web/blog/tuto http://android-dev.fr/projet
RedirectMatch permanent ^/web/blog/article http://android-dev.fr/article
RedirectMatch permanent ^/web/blog http://android-dev.fr