body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}
.dropdown-toggle:hover {
    cursor: pointer;
}
.nav-header > a{
    color: #4b4b4b;
}
div.content > div.row-fluid > div {
    margin-top: 20px;
    margin-bottom: 20px;
}
ul.dropdown-menu > li.nav-header > a {
    color: #4b4b4b;
    font-weight: bold;
}
ul.dropdown-menu > li.nav-header > a:hover {
    color: #fefefe;
}

h2 {
    font-size: 20.5px;
}
h1, h2, h3 {
    line-height: 22px;
}

.hero-unit {
    padding: 14px;
    line-height: 22px;
}

.hero-unit h1 {
    font-size: 30px;
}

.hero-unit > p {
    margin-top: 10px;
}

.listeArticle{
    margin-bottom: 20px;
}

.listeArticle > h2 > a {
    color: #333333;
}

.listeArticle > h2 > a:hover {
    color: #07013a;
}

.listeArticle > p:first-child {
    text-indent: 3%;
}

.contenuArticle p {
    text-indent: 3%;
}

#sommaire {
    width: 13%;
}


div.formLogin > form > input[type="text"], 
div.formLogin > form > input[type="submit"],
div.formLogin > form > input[type="password"] {
    display: block;
    margin-bottom: 10px;
}

div.formLogin > form > input[type="submit"] {
    margin-top: 10px;
}

div.formLogin > form > label {
    display: inline;
}

table>tbody>tr>td {
    padding: 10px;
}

table>thead>tr>th {
    padding: 6px;
}

div#form label {
    margin-top: 20px;
}

h1 {
    margin-bottom: 20px;
}

span.infoConnect {
    color: #999999;
    padding-top: 10px;
}

a.lightbox img {
    box-shadow: 0 0 4px #333333;
    margin: 10px;
}

a.lightbox img:hover {
    box-shadow: 0 0 6px #000000;
}

div.syntaxhighlighter .container:before,div.syntaxhighlighter .container:after {
    content:none;
}

label {
    display: inline;
    margin-bottom: 5px;
    margin-right: 20px;
}

form > div {
    margin-top: 20px;
    margin-bottom: 20px;
}

form > div > div {
    margin-top: 20px;
    margin-bottom: 20px;
}

.labelClick {
    color: #0088CC;
    text-decoration: none;
}

.labelClick:hover {
    color: #005580;
    text-decoration: underline;
}